body, div, span{
  font-family: verdana;
  font-size: 12px;
}

.header{
  padding: 10px;
  background-color: #eee;
  clear: both;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.header .left{
  float: left;
  width: 25%;
  font-weight: bold;
  display: block;
}

.header .right{
  float: right;
  width: 75%;
  display: block;
  text-align: right;
}

form{
  display: inline-block;
}

.body {
  margin-top: 5px;
  float:left;
  width: 100%;
}
.body .each{
  width: 100%;
  padding: 5px;
  border-bottom:1px solid #eee;
  box-sizing: border-box;
}
